*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  
  background-color: gold;
}

.wrapper {
  background-color: khaki;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color:indigo;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color:yellow;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

#display{
  width: 100%;
}

#slider{
   width: 100%;

}
#length{
  display: inline-block;
  width: 100px
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: yellow;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: yellow;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}
.setting{
  display: absolute;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

a:hover{
  color:yellow;
}
.btn, .clipboard{
  border: 2px solid currentColor;
  background-color: indigo;
  border-radius: 3rem;
  color: yellow;
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  margin: .5rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
 
  .btn:hover
  { 
    border: 2px solid transparent;
    color: #FFF;
    background-color: indigo;
    border: 2px solid currentColor;
    
  } 
  .clipboard:hover
  {
    
      border: 2px solid transparent;
      color: #FFF;
      background-color: indigo;
      border: 2px solid currentColor;
      
    }
  

  input[type= 'checkbox']
  {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: yellow;
    outline: none;
    border-radius: 25px;
    box-shadow: 0 0 3.5px #BEBCBE;
    transition: 0 3%;
    float:right;
  }
  input:checked[type = "checkbox"]
  {
    background-color: white;
  }
  input[type = "checkbox"]::before
  {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: indigo;
    border-radius: 20px;
  }
  
  input:checked[type = "checkbox"]::before
  {
   margin-left:20px;
  }


.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:150px;
  border: 2px dashed #1a68c2;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.previousPassword{
  margin-bottom: 20px;
  margin-right:150px;

}
@media (max-width: 690px) {
  .clipboard, .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 570px) {
  .btn {
    font-size: 0.8rem;
  }
}
